@media screen and (min-width: 768px) {

    nav {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    nav ul {
        flex-direction: row;
    }

    main {
        column-gap: 10px;
        max-width: 100%;
    }

    .cards {
        grid-template-columns: 65% 35%;
        gap: 10px;
    }

    
}